.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.footer-grid {
    padding: 5px;
    background-color: #282c34;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    text-align: center;
}